@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src: url('../fonts/work-sans.regular.otf') format('opentype'),
       url('../fonts/work-sans.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src: url('../fonts/work-sans.light.otf') format('opentype'),
       url('../fonts/work-sans.light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src: url('../fonts/work-sans.medium.otf') format('opentype'),
       url('../fonts/work-sans.medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src: url('../fonts/work-sans.light-italic.otf') format('opentype'),
       url('../fonts/work-sans.light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: 'Work Sans';
  font-weight: 300;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: 18px;
  background-color: #f7f4ef;
  color: #0d1321;
}

h1 {
  font-weight: 500;
}

@media (min-width: 768px) {
  h1 {
    font-size: 31px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}

h2, h3 {
  font-weight: normal;
}

@media (min-width: 768px) {
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-weight: 300;
}

@media (min-width: 768px) {
  h4 {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-weight: 300;
  font-style: italic;
}

h5 span {
  font-style: normal;
}

h5 span::before {
  content: "\00B7";
  margin: 0 5px;
}

.no-pad {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 512px) {
  .no-pad-left {
    padding-left: 0px;
  }
}

.text-italic {
  font-style: italic;
}

.affix {
  position: static;
}

@media (min-width: 768px) {
  .affix {
    position: fixed;
  }
}

.container {
  background: #ffffff;
}

.sidebar {
  height: 100%;
  background: #515151;
  padding: 15px 15px 25px;
  text-align: center;
  margin: 0 -15px;
}

@media (min-width: 768px) {
  .sidebar {
    width: calc(750px / 3);
    margin-left: -15px;
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .sidebar {
    width: calc(970px * 0.25);
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: calc(1170px * 0.25);
  }
}

.sidebar img {
  border-radius: 49.9%;
  border: 2px solid #fff;
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, .15), 0 1.5px 3px 0 rgba(0, 0, 0, .15);
  width: 80%;
  margin: 0 auto;
  max-width: 250px;
}

.content img.img-responsive {
  border: 2px solid #fff;
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, .15), 0 1.5px 3px 0 rgba(0, 0, 0, .15);
  margin: 5px auto;
  width: 96%;
  max-width: 150px;
}

.content img.img-training {
  width: 38px;
  float: left;
  margin: 0 7px 0 0;
}

.sidebar h1 {
  color: #bcd8c1;
}

.sidebar h2, .sidebar p {
  color: #f7f4ef;
}

.sidebar h2.title {
  margin-bottom: 20px;
}

.sidebar .contact {
  max-width: calc(1170px * 0.25 - 30px);
  margin: 0 auto;
}

.sidebar .contact h2 {
  margin: 9px 0;
}

.sidebar .contact p {
  padding-top: 2px;
}

.sidebar .contact p.mobile {
  padding-top: 12px;
}

.sidebar .contact p.mobile a {
  color: #bcd8c1;
  text-decoration: none;
}

.sidebar .dev {
  margin-top: 5px;
}

.sidebar .dev a {
  color: #f7f4ef;
  padding: 7px 10px 5px;
  display: inline-block;
  font-size: 30px;
}

@media (min-width: 768px) {
  .sidebar .dev a {
    font-size: 27px;
    padding: 7px 4px 5px;
  }
}

@media (min-width: 1200px) {
  .sidebar .dev a {
    font-size: 30px;
    padding: 7px 10px 5px;
  }
}

.sidebar .social a {
  color: #f7f4ef;
  padding: 10px 7px 5px;
  display: inline-block;
  font-size: 14px;
}

.sidebar .social hr {
  width: 140px;
  margin: 0 auto;
  border: 1px solid #808080;
}

@media (min-width: 768px) {
  .sidebar .social hr {
    width: 105px;
  }
}

@media (min-width: 1200px) {
  .sidebar .social hr {
    width: 140px;
  }
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
}

.content {
  padding-top: 5px;
}

.content a {
  color: #0d1321;
}

.content a .glyphicon {
  font-size: 80%;
}

@media (min-width: 768px) {
  .content {
    padding-top: 15px;
  }
}

.content h2 .glyphicon {
  font-size: 21px;
}

.content ul li ul {
  padding-bottom: 5px;
}

.content ul li:last-child ul {
  padding-bottom: 0px;
}

.content ul li ul li {
  font-style: italic;
}

.company {
  text-align: center;
}

@media (min-width: 512px) and (max-width: 768px) {
  .comp-pic.col-ms-4 {
    max-width: 150px;
  }
}

@media (min-width: 512px) {
  .company {
    text-align: left;
  }
}

.content .company h3 {
  margin: 10px 0px;
}

.content .company h4 {
  margin-top: 20px;
}

@media (min-width: 512px) {
  .content .company.fs h4 {
    margin-top: 10px;
  }
}

@media (min-width: 512px) and (max-width: 636px) {
  .content .company.tf h4 {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .content .company h3, .content .company h4, .content .company h5 {
    margin: 8px 0px;
  }

  .content .company h4 {
    margin-top: 14px;
  }

  .content .company.fs h4 {
    margin-top: 5px;
  }

  .content .company h5 {
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .content .company h3, .content .company h4, .content .company h5 {
    margin: 9px 0px;
  }

  .content .company h4 {
    margin-top: 12px;
  }

  .content .company.fs h4 {
    margin-top: 12px;
  }

  .content .company h5 {
    margin-bottom: 13px;
  }
}

@media (min-width: 1200px) {
  .content .company h3, .content .company h4, .content .company h5 {
    margin: 10px 0px;
  }

  .content .company h4 {
    margin-top: 20px;
  }

  .content .company.fs h4 {
    margin-top: 20px;
  }

  .content .company h5 {
    margin-bottom: 10px;
  }
}

.content .education {
  padding-bottom: 10px;
}

footer {
  background: #f7f4ef;
  margin: 0 -15px;
  padding: 15px;
}

footer hr {
  border-top: 1px solid #c4c4c4;
}

footer h2 {
  margin-top: 5px;
}

footer [class*=" devicon-"], footer [class^=devicon-] {
  font-size: 40px;
}

.devicon-sklearn-plain-original .path1:before {
  content: "\e958";
  color: #f89939;
}

.devicon-sklearn-plain-original .path2:before {
  content: "\e959";
  color: #3499cd;
  margin-left: -1em;
}

.devicon-sklearn-plain-original .path3:before {
  content: "\e95a";
  color: #010101;
  margin-left: -1em;
}

.devicon-sklearn-plain-original .path4:before {
  content: "\e95b";
  color: #010101;
  margin-left: -1em;
}

.devicon-sklearn-plain-original .path5:before {
  content: "\e95c";
  color: #010101;
  margin-left: -1em;
}

.devicon-sklearn-plain-original .path6:before {
  content: "\e95d";
  color: #010101;
  margin-left: -1em;
}

.devicon-sklearn-plain-original .path7:before {
  content: "\e95e";
  color: #010101;
  margin-left: -1em;
}

.devicon-stackoverflow:before {
  content: "\e95f";
}

footer .progress {
  margin-top: 15px;
  margin-bottom: 27px;
  border-radius: 0px;
  height: 10px;
  background: #c4c4c4;
}

footer .progress-bar {
  background: #515151;
}
